.navbar-brand, .navbar{
  color: rgb(35, 100, 35);
  background-color: rgb(171, 245, 193);
}

.highBtn{
  color: rgb(35, 100, 35);
  background-color: rgb(171, 245, 193);
  border: none;
}

.question{
  max-width: 540px;
  margin-top: 30px;
  color: rgb(35, 100, 35);
  font-size: 24px;
  font-weight: bolder;
  border: none;
}

.btn{
  color: rgb(35, 100, 35);
  background-color: rgb(171, 245, 193);
  border-color: rgb(35, 100, 35);
  margin-top: 10px;
}

.btn:hover{
  color: rgb(171, 245, 193);
  background-color: rgb(35, 100, 35);
}

#card-text{
  text-align: center;
}